<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
   <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
    <style>
       *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
       }
.hero{
    height: 100vh;
    width: 100%;
        background-color: #38EBD0;
        background-size: cover;
        position: absolute;
}

.form-box{
    width: 370px;
    height: 400px;
    position: relative;
    padding: 6px;
    margin: 6% auto;
    background: #fff; 
    overflow: hidden;
}

.button-box{
width: 230px;
margin: 30px auto;
position: relative;
box-shadow: 0 0 20px 9px #ff61241f;
border-radius:30px;
display: flex;
justify-content: space-between;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer ;
    background: transparent;
    border:0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    transition: all 0.5s;
}


.inputgroup{
    top: 110px;
    position: absolute;
    width: 280px;
    transition: .5s;
    border-top-left-radius: 30px;
}

.inputgroup1{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
    border-top-left-radius: 30px;
}

.inputf{
    width: 100%;
    padding: 5px 0;
    margin: 16px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.inputf1{
    width: 100%;
    padding: 3px 0;
    margin: 10px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.sub-btn{
    width: 85%;
    padding: 13px 30px;
    cursor: pointer;
    display: block;
    border-radius: 30px;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    position: relative;
    top: 13px;
}

.check-box{
    margin: 15px 7px 24px 0;
    }

span{
    color: #777;
    font-size: 12px;
    bottom: 3px;
    left: 8px;
    position: relative;
}

#log{
    left: 50px;
}

#reg{
    left: 450px;
}

.invalid-feedback{
    margin-left: 0px; 
     border-top-left-radius: 0; 
     border-bottom-left-radius: 0;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  margin-left: 5%;
}

.justify-content-end {
  margin-right: 7%;
}

</style>